@import url("https://font.emtech.cc/css/GenKiGothicTW/400");
@import url("https://font.emtech.cc/css/GenKiGothicTW/700");
@import url("https://font.emtech.cc/css/JetBrainsMono/400");

@import "tailwindcss";

@theme {
  --font-sans: "GenKiGothicTW";
  --font-mono: "JetBrainsMono", var(--font-sans);
}

@plugin "daisyui" {
  themes: dark --default;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 移除上下箭頭 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
