@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  @apply m-0 p-0;
}

/* 移除上下箭頭 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
